<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />		
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Cache-Control" content="no-siteapp"/>
	<meta name="keywords" content="breeding" />
	<meta name="description" content="breeding"/>
	<title>乐牧·塞上农场</title>
	<link rel="shortcut icon" href="/favicon.ico" />
	<link href="../../static/css/main.css" rel="stylesheet">
	<script type="text/javascript">
	    
	</script>
</head>
<body>
    <header id="title" class="text-center">关于</header>
    <div style="padding-bottom: 35px;background:#fff;border: 0px solid #fff;">
    </div>
	<div class="stitle">
		<div class="st">乐牧·塞上农场</div> 
		<a href="/app?index=2"><img src="../../static/image/index.png"/></a>
	</div>
	
	<div class="about">
	    <p class="p2">&nbsp;&nbsp;&nbsp;&nbsp;乐牧·塞上农场位于宁夏回族自治区灵武市境内，所售产品全部来自于农户人家自家农场，绿色健康，安全放心，深受广大消费者的新人和青睐，欢迎订购品尝，谢谢支持！</p>
	    <p class="p1">&nbsp;&nbsp;&nbsp;&nbsp;客服QQ ：000000000</p>
	</div>
    
	<div style="padding-top: 45px;border: 0px solid #fff;">
    </div>	
</body>
</html>	    