<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />		
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Cache-Control" content="no-siteapp"/>
	<meta name="keywords" content="breeding" />
	<meta name="description" content="breeding"/>
	<title>breeding</title>
	<link rel="shortcut icon" href="/favicon.ico" />
	<link href="../../static/css/main.css" rel="stylesheet">
	<script type="text/javascript">
	    
	</script>
</head>
<body>
    <header id="title" class="text-center">服务协议</header>
    <div style="padding-bottom: 35px;background:#fff;border: 0px solid #fff;">
    </div>  
	<div class="stitle">
		<div class="st">服务协议</div> 
		<a href="/app?index=2"><img src="../../static/image/index.png"/></a>
	</div> 
    
	<div style="padding-top: 45px;border: 0px solid #fff;">
    </div>	
</body>
</html>	    