<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />		
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Cache-Control" content="no-siteapp"/>
	<meta name="keywords" content="breeding" />
	<meta name="description" content="breeding"/>
	<title>乐牧·塞上农场</title>
	<link rel="shortcut icon" href="/favicon.ico" />
	<link href="../../static/css/main.css" rel="stylesheet">
	<script src="../../static/js/jquery-1.11.2.min.js"></script>
	<script src="../../static/js/breeding.js"></script>	
	<script type="text/javascript">
	    $(document).ready(function() {
	        ltalert('${msg}');
	    });
	    
		//alert
		function ltalert(msg){
		    if(!msg){
		        return;
		    }	
			if($(".ltalert").length == 0){
				$(".lg-at").append('<div class="ltalert"><div class="ltalertbg"></div><div class="ltalerttxt">'+ msg +'</div></div>');
				setTimeout(function(){$(".ltalert").remove();},2500);
			}
		}
	</script>
</head>
<body>
    <header id="title" class="text-center">个人信息</header>
    <div style="padding-bottom: 35px;background:#fff;border: 0px solid #fff;">
    </div>
	<div class="stitle">
		<div class="st">用户登录</div> 
		<a href="/app"><img src="../../static/image/index.png"/></a>
	</div> 
    <div class="lg-at">

    <div class="panel">     
        <div class="panel-content">    
            <form action="/user/login" method="post">    
				<div class="int">          
					<label><img src="../static/image/userImg.png" ></label>            
					<input type="text" name="account" placeholder="输入您的手机号" value="${account}" required="required" maxlength="11">       
				</div>        
				<div class="int">            
					<label><img src="../static/image/password.png" ></label>            
					<input type="password" name="password" placeholder="输入密码" value="${password}" required="required" autocomplete="current-password" maxlength="16">        
				</div>     
				<div class="setting">                    
				 	<a href="/user/forget_password" class="forget-pwd">忘记密码</a>        
				</div> 				        
				<div class="login">            
					<button type="submit">登录</button>        
				</div>  
			</form>    			     
			<div class="reg">还没账号?<a href="/user/register">马上注册</a>        
	    </div>      
	</div>
			    
	<div style="padding-top: 45px;border: 0px solid #fff;">
    </div>	
</body>
</html>	    